
/*------------------------   Laptop Large Size   --------------------------------------------------------------*/

@media only screen and (max-width: 1440px) {

    /*.box {
        width: 68%;
        height: 91%;
        position: absolute;
        bottom: 193px;
        right: -133px;
    }*/

    .box{
        border-radius: 58% 42% 66% 34% / 70% 54% 46% 30%
    }
}


/*------------------------   Laptop Size   --------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {


}

/*------------------------   Tablet Size   --------------------------------------------------------------*/

@media only screen and (max-width: 768px) {

}

/*------------------------   Mobile Large Size   --------------------------------------------------------------*/


@media only screen and (max-width: 425px) {


}

/*------------------------   Mobile Medium Size   --------------------------------------------------------------*/


@media only screen and (max-width: 375px) {


}

/*------------------------   Mobile Small Size   --------------------------------------------------------------*/


@media only screen and (max-width: 320px) {


}