html{
    height: 100%;
    overflow: hidden;
}

body{
    color: chartreuse;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}

section{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

section, section:before{
    background: 50% 50% / cover;
}

section::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("https://th.bing.com/th?id=OIP.dOeoTRthG6QTFbDQylf6WAHaF7&w=279&h=223&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

section * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

/*===============================*/


header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header, header:before{
    background: 50% 50% / cover;
}

header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("https://th.bing.com/th?id=OIP.dOeoTRthG6QTFbDQylf6WAHaF7&w=279&h=223&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}